@model projekt.ViewModels.ListaSamochodowVM

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Lista Samochodów</h2>
<p>
    @Html.ActionLink("Dodaj", "DodajSamochod")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rok)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypSilnika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.samochody)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rok)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypSilnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolor)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>

    }
</table>
